div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    gap: 1.5rem;
}

a {
    padding: .5rem;
    background-color: #f0f0f0;
    border-radius: 1rem;
    font-weight: bold;
    color: blue;
}

a:hover {
    background-color: #898686;
    color: #ffffff;
}